.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
@media (min-width: 600px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.mute-btn {
  border: 2px solid #000;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  z-index: 100;
}
.mute-btn span {
  font-size: 2rem;
}
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
.play-again-btn {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.play-again-btn:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}
